body {
    color: darkgreen;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Arial, Helvetica, sans-serif;
    color: darkgoldenrod;   
}

a {
    font-size: 0.9em;
    color: blue;
    text-decoration: underline;
}

a:hover {
    color: red;
    font-weight: bold;
}

address {
    font-size: 0.9em;
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
}

blockquote {
    background-color: silver;
    margin: 15px;
    padding: 8px 12px;
}

ul {
    list-style: circle url(hinh/Apple.jpg) outside;
}

ul b {
    color: rgb(155, 0, 0);
}

.main-column li {
    margin-bottom: 10px;
}

.Special {
    color: rgb(153, 102, 6);
    font-weight: bold;
}

.main-column {
    float: left;
    width: 550px;
}

.Article {
    padding: 0.5em;
    border-style: solid;
    border-width: 2px;
    border-color: green;
    background-color: rgb(252, 221, 163);
    width: 250px;
    float: right;
}

.comments-section {
    clear: both;
}
